.venv/
.DS_Store

# data
data/sonics/*
data/train/*
data/test/*

**/__pycache__/

logs/
outputs/
results/
data/research/

# Large files
*.mp3
*.wav
*.zip

.idea
.env
.idea


# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.run.xml
*.bcf
*.xdv

*.egg-info/